<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.TotalItems}}</h2>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="row ms-auto mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="form-group col-sm-2">            <label>Age from: </label>
            <input type="number" class="form-control" style="width: 70px;" name="minAge" 
            [(ngModel)]="userParams.minAge">
        </div>
        <div class="form-group col-sm-3">
            <label>Age to: </label>
            <input type="number" class="form-control" style="width: 70px;" name="maxAge" 
            [(ngModel)]="userParams.maxAge">
        </div>
        <div class="form-group col-md-2">
            <label>Show: </label>
            <Select name="gender" style="width: 130px" class="form-control ml-1">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{gender.display}}
                </option>
            </Select>
        </div>
      <div class="container col mt-4">
        <button class="btn btn-primary col-md-2 ml-1" style="width: 70px; height: 40px; margin-right: 0px;" type="submit">Apply</button>
        <button (click)="resetFilters()" class="btn btn-info col-md-2 ml-1" style="width: 120px; height: 40px; margin-left: 10px;" type="submit">Reset Filters</button>
      </div>
    </form>
</div>

<div class="row">
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>   
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" 
    [totalItems]="pagination.TotalItems" 
    [itemsPerPage]="pagination.ItemsPerPage"
    [(ngModel)] ="pagination.CurrentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;"  
    firstText="&laquo;" 
    lastText="&raquo;">
 
</pagination>
</div>
